# Assume python3 -m vent env
env
# Credential files
*.log
.env*
nohup.out
.vscode
*.embed
*.code-workspace
*.ignore
token.pickle

drivers
simple_demo
service_account.json
/db
cloud_sql_proxy
note_private

__pycache__
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
