venv
# Credential files
*.log
.env*
nohup.out
*.embed
*.code-workspace
*.ignore
token.pickle
static
db.sqlite3

drivers
simple_demo
service_account.json
/db
cloud_sql_proxy
note_private

__pycache__
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
